<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cardify</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='cardify.css') }}"
    />
  </head>
  <body>
    <header class="header">
      <h1>Cardify</h1>
      <p>Card Validation Checking</p>
      <img
        src="{{ url_for('static', filename='card.png') }}"
        alt="Card"
        class="card-logo"
      />
    </header>
    <main class="main">
      <div class="card-background"></div>

      <form id="card_form" method="POST" action="{{ url_for('validate') }}">
        <div class="card-input-container">
          <div>
            <label for="card-number"> Input your card number :</label>
            <div class="card-number-inputs">
              <input type="text" name="card_number_1" maxlength="4" required />
              <span class="card-number-divider">-</span>
              <input type="text" name="card_number_2" maxlength="4" required />
              <span class="card-number-divider">-</span>
              <input type="text" name="card_number_3" maxlength="4" required />
              <span class="card-number-divider">-</span>
              <input type="text" name="card_number_4" maxlength="4" required />
            </div>
          </div>
        </div>

        <div class="card-images">
          <img
            src="{{ url_for('static', filename='mastercard.png') }}"
            alt="Mastercard"
            class="card-image"
          />
          <img
            src="{{ url_for('static', filename='visa.png') }}"
            alt="Visa"
            class="card-image"
          />
        </div>

        <div class="expiry-date-input">
          <label for="expiry-date"> Card Expiration Date (MM/YY):</label>
          <input
            type="text"
            name="expiry_month"
            pattern="\d{2}"
            maxlength="2"
            required
          />
          /
          <input
            type="text"
            name="expiry_year"
            pattern="\d{2}"
            maxlength="2"
            required
          />
        </div>
        <input
          type="submit"
          value="Check validity"
          class="submit-button"
          id="submit"
        />
      </form>

      <!-- <div id="myModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <div id="modal-body">
            <p>결과 화면</p>
            <div id="card-result"></div>
          </div>
        </div>
      </div>
    </main> 

    <script>
      document.getElementById('card_form').addEventListener('submit', function(event) {
          event.preventDefault();
          fetch('{{ url_for('validate') }}', {
              method: 'POST',
              body: new FormData(this)
          })
          .then(response => response.text())
          .then(data => {
              document.getElementById('card-result').innerHTML = data;
              document.getElementById('myModal').style.display = 'block';
          });
      });

      document.querySelector('.close').addEventListener('click', function() {
          document.getElementById('myModal').style.display = 'none';
      }); 
    

      window.onclick = function(event) {
          if (event.target == document.getElementById('myModal')) {
              document.getElementById('myModal').style.display = 'none';
          }
      }
    </script>  -->
  </body>
</html>