<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cardify</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='cardify.css') }}"
    />
  </head>
  <body>
    <header class="header">
      <h1>Cardify</h1>
      <p>Card Validation Checking</p>
      <img
        src="{{ url_for('static', filename='card.png') }}"
        alt="Card"
        class="card-logo"
      />
    </header>
    <main class="main">
      <div class="card-background"></div>

      <form id="card_form" method="POST">
        <div class="card-input-container">
          <div>
            <label for="card-number">카드 번호 입력 :</label>
            <div class="card-number-inputs">
              <input
                type="text"
                class="card-number-input"
                maxlength="4"
                required
              />
              <span class="card-number-divider">-</span>
              <input
                type="text"
                class="card-number-input"
                maxlength="4"
                required
              />
              <span class="card-number-divider">-</span>
              <input
                type="text"
                class="card-number-input"
                maxlength="4"
                required
              />
              <span class="card-number-divider">-</span>
              <input
                type="text"
                class="card-number-input"
                maxlength="4"
                required
              />
            </div>
          </div>
        </div>

        <div class="card-images">
          <img
            src="{{ url_for('static', filename='mastercard.png') }}"
            alt="Mastercard"
            class="card-image"
          />

          <img
            src="{{ url_for('static', filename='visa.png') }}"
            alt="Visa"
            class="card-image"
          />
        </div>

        <div class="expiry-date-input">
          <label for="expiry-date">유효기간 (MM/YY 형식):</label>
          <input
            type="text"
            id="expiry_month"
            name="expiry_month"
            pattern="\d{2}"
            maxlength="2"
            required
          />
          /

          <input
            type="text"
            id="expiry_year"
            name="expiry_year"
            pattern="\d{2}"
            maxlength="2"
            required
          />
        </div>
        <input
          type="button"
          value="유효성 체크"
          class="submit-button"
          onclick="openModal()"
        />
      </form>
    </main>

    <!-- 모달 -->
    <div id="myModal" class="modal" style="display: none">
      <!-- 모달 초기에는 숨겨진 상태 -->
      <div class="modal-content">
        <button class="close-button" onclick="closeModal()">확인</button>
        <!-- 수정된 버튼 -->
        <h2>Result</h2>
        <!-- 모달 제목 -->
        <p>결과 : {{ result_card_type }}</p>
        <!-- 내용 예시 -->
        <p>Nulla nec est eget mi rhoncus lobortis.</p>
        <!-- 내용 예시 -->
        <p>
          Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
          posuere cubilia Curae.
        </p>
        <!-- 내용 예시 -->
        <!-- 모달 닫기 버튼 -->
        <p id="validationResult"></p>
      </div>
    </div>

    <script>
      function openModal() {
        var modal = document.getElementById("myModal"); // 모달 요소 가져오기
        var result = "{{ first_method_result() }}"; // first_method_result() 함수의 반환 값을 가져옴
        modal.style.display = "block"; // 모달 표시
        document.getElementById("result_card_type").innerHTML =
          "결과: " + result; // 결과를 모달에 표시
      }

      function closeModal() {
        var modal = document.getElementById("myModal"); // 모달 요소 가져오기
        modal.style.display = "none"; // 모달 숨기기
      }
    </script>
  </body>
</html>
